body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

header {
  margin: 20px;
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

ul {
  padding: 0px;
  list-style-type: none;
}

li {
  margin: 5px 0px;
}

.accent {
  text-align: center;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  margin: 0px 20px;
  font-weight: bolder;
}

h2 {
  margin: 20px 20px;
  font-weight: bold;
}

.text-body {
  border-left: solid 4px gray;
  padding-left: 20px;
  margin: 20px 20px;
}

footer ul {
  display: flex;
  position: fixed;
  background-color: rgba(247, 193, 162, 0.7);
  margin: 0px;
  bottom: 0;
  width: 100%;
}

footer .links {
  font-weight: bold;
  justify-content: right;
}

footer li {
  margin: 5px 10px;
}

footer p {
  position: absolute;
  margin: 0 0 5px 20px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  font-weight: bold;
}
